.display {
  box-sizing: border-box;
  font-size: 10rem;
  color: #FFF;
  background: transparent;
  border: 0;
  text-align: right;
  width: 100%;
  margin: auto auto 0;
  padding: 3rem 2rem;
  display: flex;
  outline: none;
}
